@font-face {
  font-family: "Monument";
  src: url("./ABCMonumentGroteskSemi-Mono-Regular.woff2") format("woff2");
}

$h1: 48px;
$h2: 28px;
$h3: 22px;
$body: 16px;

$highlight: #CEFF00;
$background: #E8DEDB;

*{
  box-sizing: border-box;
}

body{
  font-size: $body;
  font-family: "Monument";
  background-color: $background;
  margin: 0;
}

main{
  min-height: 100vh;
}

header.menu{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 5px 0;
  a{
    color: black;
    text-decoration: none;
  }
  h1{
    margin: 0;
    padding: 0 14px;
    font-size: $h2;
    font-weight: 300;
  }
  .menu-items{
    a{
      padding: 14px;
      font-size: $h2;
    }
  }
}

.container{
  width: 100%;
  padding: 48px 2.5%;
}

.projects{
  .project{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    color: black;
    text-decoration: none;
    position: relative;
    .bg{
      width: 105%;
      background-color: $highlight;
      filter: blur(10px);
      position: absolute;
      top: 0;
      left: -2.5%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transition: 0.4s ease-in-out;
    }
    .info-wrapper{
      display: flex;
      justify-content: space-between;
      width: 45%;
      transition: all 0.4s ease-in-out;
      z-index: 1;
    }
    img{
      width: 45%;
      height: auto;
      position: fixed;
      right: 5%;
      top: 50px;
      transition: all 0.4s ease-in-out;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
    }
    .project-title{
      font-size: $h3;
      text-transform: capitalize;
    }
    .year{
      font-size: $h3;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
  
    &:hover{
      .bg{
        opacity: 1;
      }
      img{
        visibility: visible;
        opacity: 1;
        // right: 14px;
      }
      .year{
        opacity: 1;
      }
      .info-wrapper{
        width: 45%;
      }
    }
  }
}


.project-page{
  padding-bottom: 48px;
  .fixed-info-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: capitalize;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 14px 28px;
    font-size: $h3;
    &:after{
      content: "";
      height: 60px;
      width: 100vw;
      background-color: $highlight;
      position: absolute;
      z-index: -1;
      left: 0px;
      bottom: 0;
      filter: blur(10px);
      border-radius: 25px;
      transition: all 0.4s ease;
    }
  }
  .main-image{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 100%;
    &.columns2{
      img{
        width: 50%;
      }
    }
    &.columns3{
      img{
        width: 33%;
      }
    }
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 90vh;
      max-height: 90vh;
      padding: 0 10px;
    }
  }
}

.text-section{
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 900px;
  margin-left: 10px;
}

.image-section{
  display: inline-block;
  vertical-align: middle;
  padding: 14px;
  img{
    width: 100%;
    height: auto;
  }
  p{
    margin: 5px 0 0 0;
  }
  &.small-33{
    width: 33%;
  }
  &.medium-50{
    width: 50%;
  }
}