@font-face {
  font-family: "Monument";
  src: url("./ABCMonumentGroteskSemi-Mono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Monument-Med";
  src: url("./MonumentGrotesk-Medium.woff2") format("woff2");
}


$h1: 48px;
$h2: 28px;
$h3: 22px;
$body: 20px;

$highlight: #CEFF00;
$background: #E8DEDB;

*{
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body{
  font-size: $body;
  font-family: "Monument";
  background-color: $background;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main{
  min-height: 100vh;
}

header.menu{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 10px 24px;
  font-family: "Monument-Med";
  z-index: 999;
  a{
    color: black;
    text-decoration: none;
    &.active{
      text-decoration: line-through;
    }
  }
  h1{
    margin: 0;
    font-size: $h2;
    font-weight: 300;
  }
  .menu-items{
    a{
      padding: 14px;
      font-size: $h2;
      &:last-child{
        padding-right: 0;
      }
    }
  }
}

.container{
  width: 100%;
  padding: 48px 24px;
}

.projects{
  margin-top: 24px;
  .project{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    color: black;
    text-decoration: none;
    position: relative;
    .bg{
      width: 105%;
      background-color: $highlight;
      filter: blur(10px);
      position: absolute;
      top: 0;
      left: -2.5%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      transition: 0.4s ease-in-out;
    }
    .info-wrapper{
      display: flex;
      justify-content: space-between;
      width: 45%;
      transition: all 0.4s ease-in-out;
      z-index: 1;
    }
    img{
      width: 45%;
      height: auto;
      position: fixed;
      right: 5%;
      top: 50px;
      transition: all 0.4s ease-in-out;
      z-index: 5;
      visibility: hidden;
      opacity: 0;
    }
    .project-title{
      font-size: $h3;
      text-transform: capitalize;
    }
    .year{
      font-size: $h3;
      opacity: 0;
      transition: all 0.4s ease-in-out;
    }
  
    &:hover{
      .bg{
        opacity: 1;
      }
      img{
        visibility: visible;
        opacity: 1;
        // right: 14px;
      }
      .year{
        opacity: 1;
      }
      .info-wrapper{
        width: 45%;
      }
    }
  }
}

.fixed-info-bar{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  text-transform: capitalize;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  padding: 14px 28px;
  font-size: $h3;
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:after{
    content: "";
    height: 60px;
    width: 100vw;
    background-color: $highlight;
    position: absolute;
    z-index: -1;
    left: 0px;
    bottom: 0;
    filter: blur(10px);
    border-radius: 25px;
    transition: all 0.4s ease;
  }
}


.project-page{
  padding-bottom: 48px;
  .main-image{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    &.columns2{
      img{
        width: 50%;
      }
    }
    &.columns3{
      img{
        width: 33%;
      }
    }
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      min-height: 90vh;
      max-height: 90vh;
      padding: 0 10px;
    }
  }
}

.project-content{
  width: 90%;
  margin-left: 5%;
}

.text-section{
  margin-top: 48px;
  margin-bottom: 48px;
  max-width: 900px;
  padding: 0 10px;
}

.image-section{
  display: inline-block;
  vertical-align: middle;
  padding: 14px;
  img{
    width: 100%;
    height: auto;
  }
  p{
    margin: 5px 0 0 0;
  }
  &.small-33{
    width: 33%;
  }
  &.medium-50{
    width: 50%;
  }
}

.home-slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slick-slide{
  width: 100vw;
  height: 100vh;
  top: 0;
  position: relative;
  .project-slide{
    width: 100vw;
    height: 100vh;
    position: relative;
    img{
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      top: 0;
    }
  }
  .info-wrapper{
    display: flex;
    justify-content: space-between;
    width: 45vw;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: fixed;
    bottom: 60px;
    text-decoration: none;
    color: black;
    font-size: $h3;
    padding: 0 24px;
    font-size: $h3;
    text-transform: capitalize;
  }
  .bg{
    width: 100vw;
    background-color: $highlight;
    filter: blur(10px);
    position: fixed;
    bottom: 60px;
    left: 0;
    height: 30px;
    z-index: 0;
  }
}

.slick-next{
  position: fixed;
  top: 50%;
  right: 24px;
  left: auto;
  z-index: 9;
  width: 50%;
  height: 90%;
  &:hover{
    &:before{
      opacity: 1;
    }
  }
  &:before{
    color: black;
    font-size: 24px;
    right: 0;
    position: fixed;
    top: 50%;
    opacity: 0;
    transition: all 0.4s ease;
  }
}

.slick-prev{
  position: fixed;
  top: 50%;
  left: 24px;
  right: auto;
  z-index: 9;
  width: 50%;
  height: 90%;
  &:hover{
    &:before{
      opacity: 1;
    }
  }
  &:before{
    color: black;
    font-size: 24px;
    left: 0;
    position: fixed;
    top: 50%;
    opacity: 0;
    transition: all 0.4s ease;
  }
}

.texts-page{
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  justify-content: space-between;
  .texts-item{
    width: 48%;
    margin-bottom: 24px;
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
    h2, h3{
      font-size: $body;
      padding: 0;
      margin: 0;
      z-index: 9;
    }
    &:hover{
      .bg{
        opacity: 1;
      }
    }
  }
  .bg{
    width: 100%;
    background-color: $highlight;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

.about{
  position: relative;
  .text-section, .image-section{
    width: 48%;
  }
  .image-section{
    position: absolute;
    right: 10px;
    top: 48px;
    img{
      width: 100%;
      height: 90vh;
      object-fit: contain;
      object-position: right;
    }
  }
}

.list{
  width: 48%;
  h2,h3{
    font-size: $body;
    padding: 0;
    margin: 0;
    z-index: 9;
  }
  .list-items{
    margin-bottom: 48px;
    .list-item{
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      color: black;
    }
  }
}